.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.nav-main-photo {
  height: 60px;
  width: 60px;
  border: 2px solid white;
  margin-right: 10px;
}

nav {
  height: 70px;
}

.navbar-dark .navbar-nav .active>.nav-link {
  border-bottom: solid 3px #ff2a7c;
}

.navbar-dark .navbar-brand {
  cursor: pointer;
}
