<div class="container">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary">
      <input type="radio" name="options" (click)="loadMessages('Unread')">
      <i class="fas fa-envelope-open-text"></i> Unread
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" (click)="loadMessages('Inbox')">
      <i class="fas fa-inbox"></i> Inbox
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" (click)="loadMessages('Outbox')">
      <i class="fas fa-paper-plane"></i> Outbox
    </label>
  </div>
  <p class="text-center my-3" *ngIf="messages.length == 0">No messages found yet!</p>
  <table class="table mt-3" *ngIf="messages.length > 0">
    <tr>
      <th>Message</th>
      <th>From / To</th>
      <th>Sent / Recieved</th>
      <th></th>
    </tr>
    <tr *ngFor="let message of messages" class="message-container"
      [routerLink]="['/members', messageContainer == 'Outbox' ? message.recipientId : message.senderId]"
      routerLinkActive="message-row-hover" [queryParams]="{tab:3}">
      <td style="height: 75px;">
        <div>
          <span class="my-auto">{{message.content}}</span>
        </div>
      </td>
      <td style="height: 75px;">
        <div *ngIf="messageContainer == 'Outbox'" class="d-flex flex-row align-items-center">
          <img [src]="message.recipientPhotoUrl" class="img-fluid rounded-circle message-recipient-photourl">
          <span class="ml-2"><b>{{message.recipientKnownAs}}</b></span>
        </div>
        <div *ngIf="messageContainer != 'Outbox'" class="d-flex flex-row align-items-center">
          <img [src]="message.senderPhotoUrl" class="img-fluid rounded-circle message-recipient-photourl">
          <span class="ml-2"><b>{{message.senderKnownAs}}</b></span>
        </div>
      </td>
      <td style="height: 75px;">
        <div class="d-flex flex-row align-items-center">
          <span class="my-auto">{{message.messageSent | timeago}}</span>
        </div>
      </td>
      <td style="height: 75px;">
        <div>
          <button class="btn btn-danger my-auto" style="z-index: 10;" (click)="deleteMessage(message)">Delete</button>
        </div>
      </td>
    </tr>
  </table>
</div>
